.process {
  padding: 251px 0 164px;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: $color_gray_50;

  &__container {
    max-width: $max_width_section;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10%
  }

  &__description {
    margin-top: $height_translate_step;
    gap: 24px;
  }
}

@media screen and (width < $breakpoint_desktop_wide) {
  .process {
    padding: 150px $base_padding 50px;
    box-sizing: border-box;
  }
}

@media screen and (width < $breakpoint_tablet) {
  .process {
    &__container {
      flex-direction: column;
      align-items: center;
      gap: 30px;
    }
  }
}

@media screen and (width < $breakpoint_mobile) {
  .process {
    &__image {
      width: 90%;
    }
  }
}