.card {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: $color_gray_white;
  border: 1px solid $color_gray_100;
  border-radius: 8px;
  transition: box-shadow $base_transition;
  overflow: hidden;

  &__image {
    width: 100%;
    height: $height_card_image;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  &__description {
    padding: 32px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &__subtitle {
    @include clear-paragraph;

    font: $font_thin_500;
    color: $color_gray_400;
  }

  &__title {
    @include clear-paragraph;

    font: $font_large_600;
    color: $color_gray_900;
  }

  &__text {
    @include clear-paragraph;

    margin: 8px 0 14px;
    font: $font_small_400;
    color: $color_gray_600;
  }

  &:hover {
    box-shadow: $social_box_shadow;
  }
}